In [16]:
# pandas
import pandas as pd
from pandas import Series,DataFrame

# numpy, matplotlib, seaborn
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
%matplotlib inline

from sklearn.ensemble import RandomForestClassifier
import csv_io
import scipy

In [17]:
# get titanic & test csv files as a DataFrame
titanic_df = pd.read_csv("../titanic/train.csv")
test_df    = pd.read_csv("../titanic/test.csv")

# preview the data
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [13]:
# Impute the Embarked variable, Fare variable
test_df["Fare"].fillna(test_df["Fare"].median(), inplace=True)

# fill NaN values in Age column with random values generated
titanic_df["Age"].fillna(titanic_df["Age"].median(), inplace=True)
test_df["Age"].fillna(test_df["Age"].median(), inplace=True)

# convert from float to int
titanic_df['Age'] = titanic_df['Age'].astype(int)
test_df['Age']    = test_df['Age'].astype(int)

#family
titanic_df['Family'] =  titanic_df["Parch"] + titanic_df["SibSp"]
test_df['Family'] =  test_df["Parch"] + test_df["SibSp"]

#age
titanic_df["Sex"][titanic_df["Sex"] == "male"] = 0
titanic_df["Sex"][titanic_df["Sex"] == "female"] = 1
test_df["Sex"][test_df["Sex"] == "male"] = 0
test_df["Sex"][test_df["Sex"] == "female"] = 1

#fare
# convert from float to int
titanic_df['Fare'] = titanic_df['Fare'].astype(int)
test_df['Fare']    = test_df['Fare'].astype(int)




print(titanic_df)
print(test_df)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
5              6         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
17            18         1       2
18            19         0       3
19            20         1       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
26            27         0       3
27            28         0       1
28            29         1       3
29            30         0       3
..           ...       ...     ...
861          862         0       2
862          863         1       1
863          864         0       3
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
868          869         0       3
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
878          879         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name Sex  Age  SibSp  Parch  \
0                              Braund, Mr. Owen Harris   0   22      1      0
1    Cumings, Mrs. John Bradley (Florence Briggs Th...   1   38      1      0
2                               Heikkinen, Miss. Laina   1   26      0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)   1   35      1      0
4                             Allen, Mr. William Henry   0   35      0      0
5                                     Moran, Mr. James   0   28      0      0
6                              McCarthy, Mr. Timothy J   0   54      0      0
7                       Palsson, Master. Gosta Leonard   0    2      3      1
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)   1   27      0      2
9                  Nasser, Mrs. Nicholas (Adele Achem)   1   14      1      0
10                     Sandstrom, Miss. Marguerite Rut   1    4      1      1
11                            Bonnell, Miss. Elizabeth   1   58      0      0
12                      Saundercock, Mr. William Henry   0   20      0      0
13                         Andersson, Mr. Anders Johan   0   39      1      5
14                Vestrom, Miss. Hulda Amanda Adolfina   1   14      0      0
15                    Hewlett, Mrs. (Mary D Kingcome)    1   55      0      0
16                                Rice, Master. Eugene   0    2      4      1
17                        Williams, Mr. Charles Eugene   0   28      0      0
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...   1   31      1      0
19                             Masselmani, Mrs. Fatima   1   28      0      0
20                                Fynney, Mr. Joseph J   0   35      0      0
21                               Beesley, Mr. Lawrence   0   34      0      0
22                         McGowan, Miss. Anna "Annie"   1   15      0      0
23                        Sloper, Mr. William Thompson   0   28      0      0
24                       Palsson, Miss. Torborg Danira   1    8      3      1
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...   1   38      1      5
26                             Emir, Mr. Farred Chehab   0   28      0      0
27                      Fortune, Mr. Charles Alexander   0   19      3      2
28                       O'Dwyer, Miss. Ellen "Nellie"   1   28      0      0
29                                 Todoroff, Mr. Lalio   0   28      0      0
..                                                 ...  ..  ...    ...    ...
861                        Giles, Mr. Frederick Edward   0   21      1      0
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...   1   48      0      0
863                  Sage, Miss. Dorothy Edith "Dolly"   1   28      8      2
864                             Gill, Mr. John William   0   24      0      0
865                           Bystrom, Mrs. (Karolina)   1   42      0      0
866                       Duran y More, Miss. Asuncion   1   27      1      0
867               Roebling, Mr. Washington Augustus II   0   31      0      0
868                        van Melkebeke, Mr. Philemon   0   28      0      0
869                    Johnson, Master. Harold Theodor   0    4      1      1
870                                  Balkic, Mr. Cerin   0   26      0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)   1   47      1      1
872                           Carlsson, Mr. Frans Olof   0   33      0      0
873                        Vander Cruyssen, Mr. Victor   0   47      0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)   1   28      1      0
875                   Najib, Miss. Adele Kiamie "Jane"   1   15      0      0
876                      Gustafsson, Mr. Alfred Ossian   0   20      0      0
877                               Petroff, Mr. Nedelio   0   19      0      0
878                                 Laleff, Mr. Kristo   0   28      0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   1   56      0      1
880       Shelley, Mrs. William (Imanita Parrish Hall)   1   25      0      1
881                                 Markun, Mr. Johann   0   33      0      0
882                       Dahlberg, Miss. Gerda Ulrika   1   22      0      0
883                      Banfield, Mr. Frederick James   0   28      0      0
884                             Sutehall, Mr. Henry Jr   0   25      0      0
885               Rice, Mrs. William (Margaret Norton)   1   39      0      5
886                              Montvila, Rev. Juozas   0   27      0      0
887                       Graham, Miss. Margaret Edith   1   19      0      0
888           Johnston, Miss. Catherine Helen "Carrie"   1   28      1      2
889                              Behr, Mr. Karl Howell   0   26      0      0
890                                Dooley, Mr. Patrick   0   32      0      0

               Ticket  Fare        Cabin Embarked  Family
0           A/5 21171     7          NaN        S       1
1            PC 17599    71          C85        C       1
2    STON/O2. 3101282     7          NaN        S       0
3              113803    53         C123        S       1
4              373450     8          NaN        S       0
5              330877     8          NaN        Q       0
6               17463    51          E46        S       0
7              349909    21          NaN        S       4
8              347742    11          NaN        S       2
9              237736    30          NaN        C       1
10            PP 9549    16           G6        S       2
11             113783    26         C103        S       0
12          A/5. 2151     8          NaN        S       0
13             347082    31          NaN        S       6
14             350406     7          NaN        S       0
15             248706    16          NaN        S       0
16             382652    29          NaN        Q       5
17             244373    13          NaN        S       0
18             345763    18          NaN        S       1
19               2649     7          NaN        C       0
20             239865    26          NaN        S       0
21             248698    13          D56        S       0
22             330923     8          NaN        Q       0
23             113788    35           A6        S       0
24             349909    21          NaN        S       4
25             347077    31          NaN        S       6
26               2631     7          NaN        C       0
27              19950   263  C23 C25 C27        S       5
28             330959     7          NaN        Q       0
29             349216     7          NaN        S       0
..                ...   ...          ...      ...     ...
861             28134    11          NaN        S       1
862             17466    25          D17        S       0
863          CA. 2343    69          NaN        S      10
864            233866    13          NaN        S       0
865            236852    13          NaN        S       0
866     SC/PARIS 2149    13          NaN        C       1
867          PC 17590    50          A24        S       0
868            345777     9          NaN        S       0
869            347742    11          NaN        S       2
870            349248     7          NaN        S       0
871             11751    52          D35        S       2
872               695     5  B51 B53 B55        S       0
873            345765     9          NaN        S       0
874         P/PP 3381    24          NaN        C       1
875              2667     7          NaN        C       0
876              7534     9          NaN        S       0
877            349212     7          NaN        S       0
878            349217     7          NaN        S       0
879             11767    83          C50        C       1
880            230433    26          NaN        S       1
881            349257     7          NaN        S       0
882              7552    10          NaN        S       0
883  C.A./SOTON 34068    10          NaN        S       0
884   SOTON/OQ 392076     7          NaN        S       0
885            382652    29          NaN        Q       5
886            211536    13          NaN        S       0
887            112053    30          B42        S       0
888        W./C. 6607    23          NaN        S       3
889            111369    30         C148        C       0
890            370376     7          NaN        Q       0

[891 rows x 13 columns]
     PassengerId  Pclass                                               Name  \
0            892       3                                   Kelly, Mr. James
1            893       3                   Wilkes, Mrs. James (Ellen Needs)
2            894       2                          Myles, Mr. Thomas Francis
3            895       3                                   Wirz, Mr. Albert
4            896       3       Hirvonen, Mrs. Alexander (Helga E Lindqvist)
5            897       3                         Svensson, Mr. Johan Cervin
6            898       3                               Connolly, Miss. Kate
7            899       2                       Caldwell, Mr. Albert Francis
8            900       3          Abrahim, Mrs. Joseph (Sophie Halaut Easu)
9            901       3                            Davies, Mr. John Samuel
10           902       3                                   Ilieff, Mr. Ylio
11           903       1                         Jones, Mr. Charles Cresson
12           904       1      Snyder, Mrs. John Pillsbury (Nelle Stevenson)
13           905       2                               Howard, Mr. Benjamin
14           906       1  Chaffee, Mrs. Herbert Fuller (Carrie Constance...
15           907       2      del Carlo, Mrs. Sebastiano (Argenia Genovesi)
16           908       2                                  Keane, Mr. Daniel
17           909       3                                  Assaf, Mr. Gerios
18           910       3                       Ilmakangas, Miss. Ida Livija
19           911       3              Assaf Khalil, Mrs. Mariana (Miriam")"
20           912       1                             Rothschild, Mr. Martin
21           913       3                          Olsen, Master. Artur Karl
22           914       1               Flegenheim, Mrs. Alfred (Antoinette)
23           915       1                    Williams, Mr. Richard Norris II
24           916       1    Ryerson, Mrs. Arthur Larned (Emily Maria Borie)
25           917       3                            Robins, Mr. Alexander A
26           918       1                       Ostby, Miss. Helene Ragnhild
27           919       3                                  Daher, Mr. Shedid
28           920       1                            Brady, Mr. John Bertram
29           921       3                                  Samaan, Mr. Elias
..           ...     ...                                                ...
388         1280       3                               Canavan, Mr. Patrick
389         1281       3                        Palsson, Master. Paul Folke
390         1282       1                         Payne, Mr. Vivian Ponsonby
391         1283       1     Lines, Mrs. Ernest H (Elizabeth Lindsey James)
392         1284       3                      Abbott, Master. Eugene Joseph
393         1285       2                               Gilbert, Mr. William
394         1286       3                           Kink-Heilmann, Mr. Anton
395         1287       1     Smith, Mrs. Lucien Philip (Mary Eloise Hughes)
396         1288       3                               Colbert, Mr. Patrick
397         1289       1  Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...
398         1290       3                     Larsson-Rondberg, Mr. Edvard A
399         1291       3                           Conlon, Mr. Thomas Henry
400         1292       1                            Bonnell, Miss. Caroline
401         1293       2                                    Gale, Mr. Harry
402         1294       1                     Gibson, Miss. Dorothy Winifred
403         1295       1                             Carrau, Mr. Jose Pedro
404         1296       1                       Frauenthal, Mr. Isaac Gerald
405         1297       2       Nourney, Mr. Alfred (Baron von Drachstedt")"
406         1298       2                          Ware, Mr. William Jeffery
407         1299       1                         Widener, Mr. George Dunton
408         1300       3                    Riordan, Miss. Johanna Hannah""
409         1301       3                          Peacock, Miss. Treasteall
410         1302       3                             Naughton, Miss. Hannah
411         1303       1    Minahan, Mrs. William Edward (Lillian E Thorpe)
412         1304       3                     Henriksson, Miss. Jenny Lovisa
413         1305       3                                 Spector, Mr. Woolf
414         1306       1                       Oliva y Ocana, Dona. Fermina
415         1307       3                       Saether, Mr. Simon Sivertsen
416         1308       3                                Ware, Mr. Frederick
417         1309       3                           Peter, Master. Michael J

    Sex  Age  SibSp  Parch              Ticket  Fare            Cabin  \
0     0   34      0      0              330911     7              NaN
1     1   47      1      0              363272     7              NaN
2     0   62      0      0              240276     9              NaN
3     0   27      0      0              315154     8              NaN
4     1   22      1      1             3101298    12              NaN
5     0   14      0      0                7538     9              NaN
6     1   30      0      0              330972     7              NaN
7     0   26      1      1              248738    29              NaN
8     1   18      0      0                2657     7              NaN
9     0   21      2      0           A/4 48871    24              NaN
10    0   27      0      0              349220     7              NaN
11    0   46      0      0                 694    26              NaN
12    1   23      1      0               21228    82              B45
13    0   63      1      0               24065    26              NaN
14    1   47      1      0         W.E.P. 5734    61              E31
15    1   24      1      0       SC/PARIS 2167    27              NaN
16    0   35      0      0              233734    12              NaN
17    0   21      0      0                2692     7              NaN
18    1   27      1      0    STON/O2. 3101270     7              NaN
19    1   45      0      0                2696     7              NaN
20    0   55      1      0            PC 17603    59              NaN
21    0    9      0      1             C 17368     3              NaN
22    1   27      0      0            PC 17598    31              NaN
23    0   21      0      1            PC 17597    61              NaN
24    1   48      1      3            PC 17608   262  B57 B59 B63 B66
25    0   50      1      0           A/5. 3337    14              NaN
26    1   22      0      1              113509    61              B36
27    0   22      0      0                2698     7              NaN
28    0   41      0      0              113054    30              A21
29    0   27      2      0                2662    21              NaN
..   ..  ...    ...    ...                 ...   ...              ...
388   0   21      0      0              364858     7              NaN
389   0    6      3      1              349909    21              NaN
390   0   23      0      0               12749    93              B24
391   1   51      0      1            PC 17592    39              D28
392   0   13      0      2           C.A. 2673    20              NaN
393   0   47      0      0          C.A. 30769    10              NaN
394   0   29      3      1              315153    22              NaN
395   1   18      1      0               13695    60              C31
396   0   24      0      0              371109     7              NaN
397   1   48      1      1               13567    79              B41
398   0   22      0      0              347065     7              NaN
399   0   31      0      0               21332     7              NaN
400   1   30      0      0               36928   164               C7
401   0   38      1      0               28664    21              NaN
402   1   22      0      1              112378    59              NaN
403   0   17      0      0              113059    47              NaN
404   0   43      1      0               17765    27              D40
405   0   20      0      0       SC/PARIS 2166    13              D38
406   0   23      1      0               28666    10              NaN
407   0   50      1      1              113503   211              C80
408   1   27      0      0              334915     7              NaN
409   1    3      1      1  SOTON/O.Q. 3101315    13              NaN
410   1   27      0      0              365237     7              NaN
411   1   37      1      0               19928    90              C78
412   1   28      0      0              347086     7              NaN
413   0   27      0      0           A.5. 3236     8              NaN
414   1   39      0      0            PC 17758   108             C105
415   0   38      0      0  SOTON/O.Q. 3101262     7              NaN
416   0   27      0      0              359309     8              NaN
417   0   27      1      1                2668    22              NaN

    Embarked  Family
0          Q       0
1          S       1
2          Q       0
3          S       0
4          S       2
5          S       0
6          Q       0
7          S       2
8          C       0
9          S       2
10         S       0
11         S       0
12         S       1

/Users/usmanakhter/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/usmanakhter/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/usmanakhter/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/Users/usmanakhter/anaconda3/lib/python3.6/site-packages/ipykernel/__main__.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
X_train = titanic_df[["Pclass", "Age", "Sex", "Fare", "SibSp", "Parch"]].values
#X_train = titanic_df.drop("Survived",axis=1)
Y_train = titanic_df["Survived"]
X_test  = test_df.drop("PassengerId",axis=1).copy()
test_features = test_df[["Pclass", "Age", "Sex", "Fare", "SibSp", "Parch"]].values


# Random Forests

random_forest = RandomForestClassifier(n_estimators=100)

random_forest.fit(X_train, Y_train)

#Y_pred = random_forest.predict(X_test)
Y_pred = random_forest.predict(test_features)


random_forest.score(X_train, Y_train)

0.95286195286195285

In [15]:
submission = pd.DataFrame({
        "PassengerId": test_df["PassengerId"],
        "Survived": Y_pred
    })
submission.to_csv('titanic.csv', index=False)